#page-result {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Garantir que o conteúdo fique em coluna */
    
}

#page-result.success {
    background: #37C77F;
}

#page-result.error {
    background: #F93849;
}

#page-result .content-wrapper,
#page-result .content-wrapper-error {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: auto;
    max-height: 680px;
    display: flex;
    flex-direction: column; /* Empilha os elementos dentro do content-wrapper */
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo */
    text-align: center; /* Centraliza o texto */
    background: url('../../images/landing.png') no-repeat 80% center;
    background-size: cover; /* Ajuste a imagem de fundo para cobrir o container */
    
}

#page-result .content-wrapper main,
#page-result .content-wrapper-error main {
    max-width: 350px;
    text-align: center;
    
}

#page-result .content-wrapper main h1,
#page-result .content-wrapper-error main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
    
}

#page-result .content-wrapper main p,
#page-result .content-wrapper-error main p {
    margin-top: 40px;
    font-size: 30px;
    line-height: 34px;
    gap: 20px;
    margin-top: 200px; 
    padding: 10px; /* Espaçamento interno para o fundo */
    border-radius: 8px; /* Bordas arredondadas (opcional) */
    background-color: rgba(255, 255, 255, 0.8); /* Adiciona fundo branco */
    color: #333; /* Cor do texto (pode ajustar se necessário) */


    
    
}

.content-wrapper .red-button,
.content-wrapper-error .red-button {
    margin: 64px 0;
    width: 222px;
    height: 56px;
    background: #FFD700;
    border-radius: 20px;
    color: #FFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    
}

.content-wrapper .red-button:hover,
.content-wrapper-error .red-button:hover {
    background: #ffd666;
    color: #444;
    
}

/* Media Query para telas pequenas (celulares) */
@media (max-width: 600px) {
    #page-result .content-wrapper .red-button,
    #page-result .content-wrapper-error .red-button {
        width: 100%; /* Faz o botão ocupar toda a largura */
        margin: 16px 0; /* Ajusta a margem para telas menores */
    }
}
